/* Your code goes here */
.container {
  display: flex;
  flex-direction: row;
  border: 1px solid #fff;
  width: 800px;
}

/* flex-basis
container has a) space left of b) is overfull */

.container div {
  float: right;

  /*
   Use flex-basis (preferred) to define in the flex container instead of using height or width
    look at a) flex-grow b) flex-shrink
    calculate portions each items will grow / shrink
    add that to the base size (defined by flex-basis)
  */

  flex-basis: auto;
  flex: 1 1 20%;
  flex-grow: 1;
  margin: 0;
}

.container div:nth-child(2) {
  flex-grow: 2;
}
