.vcenter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  border: 1px solid #fff;
}

.vcenter * {
  /* margin: auto; */
}

nav {
  width: 400px;
}

li {
  list-style-type: none;
  flex-basis: 25%;
}

p {
  margin: 0;
}
