/* 
- Variable image size
- Image left or right
- Image vertical align
- Nesting
- Responsive
- Clearfix behavior
 */

.media {
  display: flex;
  flex-flow: row wrap;
}

.figure {
  flex: 1 1 30%;
  align-self: flex-start;
  order: 0;
}

.media-body {
  flex: 1 1 60%;
}

p {
  margin: 0 10px 20px 10px;
}
